.vscode/**
.vscode-test/**
.idea/**
.git/**
.github/**
node_modules/**
test/**
test-out/**
src/**
scripts/**
docs/**
*.ts
!dist/**
tsconfig.json
tsconfig.test.json
esbuild.js
.gitignore
*.vsix
*.log
.DS_Store
